<!DOCTYPE html>
  <html>
    <head>
      <title>About</title>
      <link rel="icon" href="img/weather.png">
      <link rel='stylesheet' href='/css/styles.css' />
    </head>

    <body>
      <div class="main-cintent">
        {{>header}}
        <p>Some text into the application</p>
        <img class="portrait" src='/img/IMG_20231123_160132.jpg' />
      </div>
    
      {{>footer}}
    </body>
  </html>